#im1 img{
  width: 280px;
  height: 300px;
  margin-left: 25%;
}
#im1 {
  border-color: green;
  border-width: 5px;
}
#im2 img{
  width: 280px;
  height: 300px;
  margin-left: 10%;
}
#im3 img{
  width: 300px;
  height: 290px;
  margin-left: 10%;

}
#logo img{
  width:300px;
}
#presentacion .row{
  margin-left: 42%;
}
